.race-select {
    margin: 10px;
    float: left;
    text-align: unset !important;
}

.race-description {
    min-width: 280px;
}

.race-details {
    min-width: 160px;
    margin: 43px 10px 10px 10px;
}