.trait-sheet {
    font-weight: bold;
    .trait-sheet__positive {
        color: green;
        margin: 2px 0; 
        img {
            max-height: 20px;
            vertical-align: bottom;
        }
    }
    .trait-sheet__negative {
        color: red;
        margin: 2px 0; 
        img {
            max-height: 20px;
            vertical-align: bottom;
        }
    }
}