// A01

.a01-score {
    margin: 0 1.4em;
    font-weight: bold;
    font-size: 2em;
   
}

// A03

.a03-total-score{
    margin: 0 1.4em;
    font-weight: bold;
    font-size: 1.5em;
}

.a03-negative-score {
    margin: 0 1.4em;
    color: red;
    font-weight: bold;
}

.a03-positive-score {
    margin: 0 1.4em;
    color: darkgreen;
    font-weight: bold;
}