

.select-bar {
  border: 3px solid black;
  border-radius: 16px;
  display: flex;

  .select-bar__button {
    flex: 1 0 auto;
    height: 44px;

    &.active {
      border: coral solid 2px;
    }

    img {
      height: 44px;
      width: 44px;
    }
  }
}