.select-bar {
  border: 3px solid black;
  border-radius: 16px;
  display: flex;
  padding: 3px 0 3px 0;
  text-align: center;

  .select-bar__button {
    flex: 1 0 auto;
    height: 44px;

    &.active {
      
    }

    img {
      height: 44px;
      width: 44px;
    }
  }
}